version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: integration-postgres
    ports:
      - "5434:5432"
    environment:
      POSTGRES_PASSWORD: pass
      POSTGRES_USER: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      retries: 10
